
body{
    line-height: 1.4;
    
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(../img/home-bg.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background-color: #FFFFFF;
    padding: 1.2rem;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: right;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace
    letter-spacing: 2px;
    font-weight: 500;
    color: grey;
    text-decoration: none;
    display: inline;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;

}
.navbar-nav span{
    position: relative;
    text-transform: capitalize;
    right: 700px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.navbar-nav a:hover{
        opacity: 0.6;
}
.banner{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}
.banner-title{
    font-size: 30px;
    line-height: 1.2;
    color: gray;
}
.banner-title span{
     font-size: 3rem;
     color: #FFFFFF;
     
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: -15px;
}
.blog{
    background: #f9f9f9;
    padding: 4.5rem 0;
}
.blog-contenu{
    margin: 2rem 0;
}
.b-img{
    position: relative;   
}
.b-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: gray;
    color: #FFFFFF;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}
.text-blog{
    margin: 2.2rem 0;
    padding:0 1rem ;
}
.text-blog span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.text-blog h2{
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.text-blog p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.text-blog a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    background: grey;
    color: #f9f9f9;
    padding: 0.55rem 1.2rem;
}
.h2{
    text-align: center;
}
.para{
    text-align: center;
}
#contact-link{
    text-align: center;
}